<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
</head>
<body>
<h1>Task List</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Description</th>
        <th>Created At</th>
        <th>Updated At</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.status}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${#strings.substring(task.createdAt,0,10)}"></td>
        <td th:text="${#strings.substring(task.updatedAt,0,10)}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>